.go-top-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 5.6rem;
    height: 5.6rem;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background-color: #d10101;
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    i {
        position: absolute;
        font-size: 1.6rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: #fff;
        transform: .2s;
    }
}

.show-popup {
    z-index: 10;

    .go-top-button {
        animation: popup .3s ease-in-out;
        width: 5.6rem;
        height: 5.6rem;
        z-index: 11;
    }

    i {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes popup {
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 7rem;
        height: 7rem;
    }
    100%{
        width: 5.6rem;
        height: 5.6rem;
    }
}