@use "mediaMixins";

.navbar-div {
    border-bottom: red solid 2px;
}

#welderstone-navbar {
    padding: unset;
}

.navbar-padding-lg {
    @include mediaMixins.lg(){
        padding-top: .5rem;
    }
}

nav {
    height: 100%;

    img {
        height: 50%;
    }

    .nav-link {
        color: #7B7977;
    }

    .exit:hover{
        color: #d10101;
    }

    .right-icons {
        display: inline-block;
    }

    .hide-lg {
        @include mediaMixins.lg(){
            display: none;
        }
    }

    .hide-min-lg {
        @include mediaMixins.min-lg(){
            display: none;
        }
    }
    
    .hide-sm {
        @include mediaMixins.min-sm(){
            display: none;
        }
    }

    .brand-container {
        display: flex;
        align-items: center;
        justify-items: center;
        height: 10vh;
    }

    .offcanvas-header {
        border-bottom: 1px solid black;
    }

    #offcanvasDarkNavbarLabel {
        color: #d10101;
    }

    #dropdown-custom {
        top: unset;
    }
}

.nav-items {
    margin: 0;
    height: 10vh;
}

.f-icon {
    font-size: 1.5rem;
}

.f-icon:hover {
    color: #d10101;
}

