<!-- VERSION DE PC -->
<div id="desktopCarousel">
    <div
        id="carouselDesktop"
        class="carousel slide"
        data-bs-ride="carousel"
        data-bs-touch="true"
    >
        <div class="carousel-inner">
            <div class="carousel-item active" style="height: 90vh">
                <div class="set-three" style="height: 100%">
                    <div>
                        <img
                            class="c-img"
                            src="images/carousel/carousel-01.jpg"
                            alt=""
                        />
                    </div>
                    <div class="photo-container">
                        <img
                            class="c-img"
                            src="images/carousel/carousel-02.jpg"
                            alt=""
                        />
                    </div>
                    <div class="photo-container">
                        <img
                            class="c-img"
                            src="images/carousel/carousel-03.jpg"
                            alt=""
                        />
                    </div>
                </div>
            </div>

            <div class="carousel-item" style="height: 90vh">
                <div class="set-three" style="height: 100%">
                    <div>
                        <img
                            class="c-img"
                            src="images/carousel/carousel-04.jpg"
                            alt=""
                        />
                    </div>
                    <div class="photo-container">
                        <img
                            class="c-img"
                            src="images/carousel/carousel-05.jpg"
                            alt=""
                        />
                    </div>
                    <div class="photo-container">
                        <img
                            class="c-img"
                            src="images/carousel/carousel-06.jpg"
                            alt=""
                        />
                    </div>
                </div>
            </div>

            <div class="carousel-item" style="height: 90vh">
                <div class="set-three" style="height: 100%">
                    <div>
                        <img
                            class="c-img"
                            src="images/carousel/carousel-07.jpeg"
                            alt=""
                        />
                    </div>
                    <div class="photo-container">
                        <img
                            class="c-img"
                            src="images/carousel/carousel-08.jpg"
                            alt=""
                        />
                    </div>
                    <div class="photo-container">
                        <img
                            class="c-img"
                            src="images/carousel/carousel-09.jpg"
                            alt=""
                        />
                    </div>
                </div>
            </div>

            <div class="carousel-item" style="height: 90vh">
                <div class="set-three" style="height: 100%">
                    <div>
                        <img
                            class="c-img"
                            src="images/carousel/carousel-10.jpg"
                            alt=""
                        />
                    </div>
                    <div class="photo-container">
                        <img
                            class="c-img"
                            src="images/carousel/carousel-11.jpg"
                            alt=""
                        />
                    </div>
                    <div class="photo-container">
                        <img
                            class="c-img"
                            src="images/carousel/carousel-12.jpg"
                            alt=""
                        />
                    </div>
                </div>
            </div>
        </div>
        <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselDesktop"
            data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselDesktop"
            data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
