<!-- VERSIÓN DE PC -->
<div id="desktopCarousel">
    <div
        id="carouselDesktop"
        class="carousel slide"
        data-bs-ride="carousel"
        data-bs-touch="true"
    >
        <div class="carousel-inner">
            <div class="carousel-item active" style="height: 90vh">
                <div class="set-three" style="height: 100%; position: relative; overflow: hidden;">
                    <video autoplay loop muted playsinline class="video-bg">
                        <source src="/videos/WEB-WS.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recorta el video para llenar el contenedor sin deformarlo */
    position: absolute;
    top: 0;
    left: 0;
}

</style>
