<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('layouts/metaData'); -%>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welderstone - About</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- CSS Stylesheet-->
    <link rel="stylesheet" href="css/styles.css">
    <!-- FontAwesome-->
    <script src="https://kit.fontawesome.com/c1d78340ca.js" crossorigin="anonymous"></script>  
</head>
<body>
    <!-- NAVBAR -->
    <%- include('layouts/navbar'); -%>
    
    <section id="presentation">
            <div class="presentation-cont">
                <div>
                    <div class="row">
                        <h1>Contacto</h1>
                        <p>Saludos Cordiales</p>
                        <p>Si tiene alguna duda sobre la manera de fabricar, seguimiento de algun pedido. Tiempos de entrega o alguna compra puedes contactarnos en cualquiera de nuestras redes sociales y/o en teléfonos de oficina directamente.</p>                    
                        <p>Estamos en <a href=""><strong>Instagram</strong></a>, <a href=""><strong>Facebook</strong></a> y en <a href=""><strong>TikTok</strong></a></p>
    
                        <h1>Nuestra Oficina</h1>
                        <p class="web-title"><strong>Welderstone.com</strong></p>
                        <p>Calle: Perú 374</p>
                        <p>Colonia: Aviácion</p>
                        <p>Correo: Welderstone@outlook.com</p>
                        <p>Cel: 871-264-69-82</p>
                    </div>
                    <hr>
                    <div class="row">
                        <h1>¿Te gustaría trabajar con nosotros?</h1>
                        <h3>¡Welderstone te esta buscando!</h3>
                        <p>En Welderstone nos gustaría contar con tu talento como parte de nuestro equipo.</p>
                        <p>Envíanos tu información curricular a <strong style="color: #d10101;">weldersote@outlook.com</strong> y se parte de nosotros.</p>
                        <p>Áreas laborales:</p>
                        <p><strong>- Operativo</strong></p>
                        <div>
                            <ul>
                                <li>Soldador</li>
                                <li>Pailero</li>
                                <li>Media (cortar, pulir y pintar)</li>
                                <li>Ayudante General</li>
                            </ul>
                        </div>
                        <p><strong>- Administrativo</strong></p>
                        <div>
                            <ul>
                                <li>Auxiliar Contable</li>
                            </ul>
                        </div>
                        <p><strong>- Proveedores</strong></p>
                        <div>
                            <ul>
                                <li>Pintura</li>
                                <li>Aceros</li>
                                <li>Consumibles</li>
                                <li>Herramientas</li>
                                <li>Servicios de mantenimiento</li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <h1>Nosotros</h1>
                        <p>Somos una empresa formada desde el año 2020, ubicada en Torreón, Coahuila.</p>
                        <p>Dedicados a la fabricación de elementos metálicos de cualquier dimensión</p>
                        <div>
                            <ul>
                                <li>Techumbres Metálicas</li>
                                <li>Puertas y Ventanas</li>
                                <li>Mobiliario Industrial</li>
                                <li>Instalación de Tuberias Metálicas</li>
                                <li>Diseñamos cualquier Idea o Necesidad</li>
                            </ul>
                        </div>
                        <p>Nuesta meta es hacer de la construcción y de las actividades diarias de las personas, objetos prefabricados que les ayuden a hacer mas eficaz la realización de cualquier trabajo. </p>
                    </div>
                </div>
            </div>
    </section>

    <%- include('layouts/whatsapp-btn') -%>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="/js/whatsapp-btn.js"></script>
</body>
</html>